* {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    flex-direction: column;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Quicksand', sans-serif;
}

*::selection {
    background-color: #FAD043;
}

body {
    display: flex;
    background: #000000;
}

main {
    display: flex;
    min-height: 93.4vh;
}

main>.initial {
    display: flex;
    padding: 0 4em;
    margin-top: 5em;
    flex-wrap: wrap;
    flex-direction: row;
}

main>.initial>.texts {
    flex: 0.5;
    display: flex;
}

main>.initial>.texts>.logo {
    width: 13em;
}

main>.initial>.texts>.title {
    font-weight: 600;
    font-size: 2.2em;
    margin-top: 1.5em;
    font-family: 'Raleway', sans-serif;
}

main>.initial>.texts>.description {
    margin-top: 1em;
    font-size: 1.5em;
    font-weight: normal;
}

main>.initial>.texts>.button {
    font-size: 1em;
    margin-top: 4em;
    color: #1E1E1E;
    padding: 1em 2em;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    align-self: flex-start;
    transition-duration: 0.2s;
    background-color: #F9C823;
    transition-timing-function: linear;
    font-family: 'Raleway', sans-serif;
}

main>.initial>.texts>.button:hover {
    transform: scale(1.08);
}

main>.initial>.texts>.features {
    gap: 2em;
    display: flex;
    margin-top: 3em;
}

main>.initial>.texts>.features>.feature {
    gap: 0.5em;
    display: flex;
    max-width: 25em;
    flex-direction: row;
}

main>.initial>.texts>.features>.feature>.icon {
    width: 2em;
    fill: #FFFFFF;
    align-self: flex-start;
}

main>.initial>.texts>.features>.feature>.text {
    width: 90%;
    font-size: 1em;
}

main>.initial>.container-photo {
    flex: 0.5;
    display: flex;
}

main>.initial>.container-photo>.photo {
    height: auto;
}

main>.about {
    display: flex;
    margin-top: 7em;
}

main>.about>.title {
    font-size: 2em;
    font-weight: 600;
    align-self: center;
    text-align: center;
}

main>.about>.subtitle {
    font-size: 1.1em;
    align-self: center;
    text-align: center;
}

main>.about>.description {
    width: 80%;
    max-width: 32em;
    font-size: 1.5em;
    margin-top: 1.2em;
    align-self: center;
    text-align: center;
    font-weight: normal;
}

main>.why {
    display: flex;
    margin-top: 4em;
}

main>.why>.title {
    max-width: 15em;
    font-size: 1.3em;
    font-weight: 600;
    color: #F9C823;
    align-self: center;
    text-align: center;
}

main>.why>.feature {
    gap: 2em;
    display: flex;
    max-width: 23em;
    margin-top: 2em;
    align-self: center;
}

main>.why>.feature>.title {
    font-size: 1.6em;
    font-weight: bold;
    align-self: center;
    text-align: center;
}

main>.why>.feature>.description {
    font-size: 1.1em;
    align-self: center;
    text-align: center;
}

footer {
    padding: 1em;
    display: flex;
}

footer>.description {
    font-size: 0.8em;
    color: #FFFFFF;
    font-weight: bold;
    align-self: center;
    text-align: center;
}

@media screen and (max-width: 900px) {
    main>.initial {
        padding: 0 1.5em;
        flex-direction: column;
    }
    
    main>.initial>.texts>.logo {
        align-self: center;
    }
    
    main>.initial>.texts>.title {
        font-size: 1.6em;
        text-align: center;
    }
    
    main>.initial>.texts>.description {
        font-size: 1.2em;
        text-align: center;
    }

    main>.initial>.texts>.button {
        align-self: center;
    }
    
    main>.initial>.container-photo {
        margin-top: 3em;
    }

    main>.initial>.container-photo>.photo {
        width: 82%;
        align-self: center;
    }

    main>.about>.title {
        font-size: 1.6em;
    }

    main>.about>.title {
        font-size: 1.6em;
    }

    main>.about>.subtitle {
        font-size: 0.9em;
    }

    main>.about>.description {
        font-size: 1.2em;
    }
}